n8n Hands on - Mid Level/TAP1008/TAP1008.json
{
  "name": "TAP1008",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -224
      ],
      "id": "9f76c603-a653-4ef4-b444-a9b1cfa475a0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7440019d-0851-499c-8dd5-26270a34212a",
              "name": "run_id",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}",
              "type": "string"
            },
            {
              "id": "0f37b8c0-b323-4d2d-9a1a-2df407cea78c",
              "name": "record_key",
              "value": "={{ $json.from.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "d99650f0-8b2a-459a-b40a-2e1c1f721a34",
              "name": "duplicate",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -224
      ],
      "id": "7a48f769-8dda-461e-95a2-c4af9a518c40",
      "name": "Set run ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.inputSheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -224
      ],
      "id": "543b4dd5-dfba-4a5c-85e7-ed2c5193da4d",
      "name": "Read source sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "processed_at": "={{ $now.toISO() }}",
            "error_message": "Missing required field",
            "status": "skipped"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -128
      ],
      "id": "8c0de595-f44b-427f-bcc2-84c644b33dca",
      "name": "Log skipped record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        -416
      ],
      "id": "cb1c22bb-043d-4cd9-b240-f3d45e4953cc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "duplicate",
            "error_message": "no enrichment or save happens for this item",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        -224
      ],
      "id": "d5935d00-21b3-4be1-a88f-df9bda6b3597",
      "name": "Log duplicate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d403bd56-7020-461d-9c50-ee1948fc538e",
              "leftValue": "={{ $json.from }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7ef8a12c-fd32-4dce-bb4b-60bb93bee54c",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -224
      ],
      "id": "f309d58f-4640-42c8-be24-592c2d90ed46",
      "name": "Validate input"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.processedRecords) {\n  staticData.processedRecords = {};\n}\n\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const incoming = item.json;\n\n  if (!incoming.message_id) {\n    output.push({ json: { ...incoming, duplicate: false } });\n    continue;\n  }\n\n  const key = String(incoming.message_id).trim().toLowerCase();\n  let isDuplicate = false;\n  let finalRecord = { ...incoming };\n\n  if (staticData.processedRecords[key] !== undefined) {\n    isDuplicate = true;\n    const existing = staticData.processedRecords[key];\n    const mergeFields = ['message_id', 'from', 'subject', 'status', 'run_id', 'record_key'];\n    for (const field of mergeFields) {\n      if ((finalRecord[field] === undefined || finalRecord[field] === '') && existing[field]) {\n        finalRecord[field] = existing[field];\n      }\n    }\n    staticData.processedRecords[key] = finalRecord;\n  } else {\n    staticData.processedRecords[key] = finalRecord;\n  }\n\n  output.push({\n    json: {\n      ...finalRecord,\n      duplicate: isDuplicate\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -320
      ],
      "id": "23eecc80-a224-455e-a9d9-2c4da5c75fcb",
      "name": "Check duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6fd721c-8fe4-4c1c-83d0-70f51d094b89",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -320
      ],
      "id": "e5c1cc2d-a825-41fd-a692-ba1af04c220e",
      "name": "is Duplicate?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"outputSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.message_id }}",
            "from": "={{ $json.from_lead }}",
            "subject": "={{ $json.original_subject }}",
            "status": "={{ $json.status }}",
            "sent_at": "={{ $now.toISO() }}",
            "ai_reply_subject": "={{ $json.ai_reply_subject }}",
            "ai_reply_body": "={{ $json.ai_reply_body }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_reply_subject",
              "displayName": "ai_reply_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_reply_body",
              "displayName": "ai_reply_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3488,
        -528
      ],
      "id": "583a7fa6-c282-4faf-bdc6-b37fa0cfca1a",
      "name": "Save to output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "success",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3712,
        -416
      ],
      "id": "99b8d991-3044-49b8-9fc1-d9dfd7df7e07",
      "name": "Log: success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be0d0493-49c6-4c7d-a222-9c9866e38019",
              "name": "spreadsheetId",
              "value": "1w8rOctGEvZhG7HWO3GTicUeK49cvkD1isApxlWNVKes",
              "type": "string"
            },
            {
              "id": "5e5c862f-5858-40bb-8812-3561c2ee0e5d",
              "name": "inputSheetName",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "185e93f9-c9af-4940-bcec-c20b743424ab",
              "name": "outputSheetName",
              "value": "Processed_Leads",
              "type": "string"
            },
            {
              "id": "270ce505-024d-4bdb-9c50-19e553c3ff9c",
              "name": "logSheetName",
              "value": "run_log",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -224
      ],
      "id": "65f9eb47-cef6-483c-a4df-9420bb766a62",
      "name": "Config"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        -528
      ],
      "id": "e773d929-7258-478f-b738-ecf78c66a21f",
      "name": "Wait",
      "webhookId": "ec0ef952-dbaa-43b8-b9c3-8d43ffce5372"
    },
    {
      "parameters": {
        "fromEmail": "outbound-agent@yourdomain-test.com",
        "toEmail": "={{ $json.from }}",
        "subject": "={{ $json.ai_reply_subject }}",
        "html": "={{ $json.ai_reply_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2816,
        -608
      ],
      "id": "b47bc68f-71ab-4295-b152-3ae8632a6233",
      "name": "Send an Email",
      "webhookId": "5515c822-d406-4a84-94af-4fa3dfc02205",
      "credentials": {
        "smtp": {
          "id": "eR0UrPRwehJJXfap",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Extract the two distinct items from the input array\nconst dedupData = $input.all()[0].json; \nconst rawAiOutput = $input.all()[1]?.json?.output || '';\n\n// 2. Set default fallbacks in case parsing fails\nlet replySubject = `Re: ${dedupData.subject || 'Your Inquiry'}`;\nlet replyBody = rawAiOutput;\n\n// 3. Extract the Subject line and Body from the markdown text\nif (rawAiOutput.includes('**Subject:**')) {\n  // Split the text by lines\n  const lines = rawAiOutput.split('\\n');\n  \n  // Find the subject line and strip out \"**Subject:** \"\n  const subjectLine = lines.find(line => line.toLowerCase().includes('**subject:**'));\n  if (subjectLine) {\n    replySubject = subjectLine.replace(/\\*\\*Subject:\\*\\*\\s*/i, '').trim();\n  }\n  \n  // The rest of the text becomes the body (excluding the subject line)\n  replyBody = lines\n    .filter(line => !line.toLowerCase().includes('**subject:**'))\n    .join('\\n')\n    .trim();\n}\n\n// 4. Return the unified structure for your next step\nreturn [{\n  json: {\n    message_id: dedupData.message_id,\n    from: dedupData.from,\n    subject: dedupData.subject,\n    ai_reply_subject: replySubject,\n    ai_reply_body: replyBody,\n    status: 'sent',\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        -528
      ],
      "id": "48d810e0-a0c2-4684-bbcd-75abb4b87452",
      "name": "Transform Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short, professional outbound email reply to a lead.\n\n     From: {{ $json.from }}\n     Original Subject: {{ $json.subject }}\n\n     Generate:\n     1. A reply subject line\n     2. A reply body (3-4 sentences, friendly, professional, inviting them to schedule a call)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2016,
        -416
      ],
      "id": "6b94508a-3696-4405-bf8d-9c3e540b9920",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/free",
          "mode": "list",
          "cachedResultName": "openrouter/free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2096,
        -192
      ],
      "id": "c5fb3214-1c27-48aa-8d37-e7ac4b05fba9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1NsBGROuTKjfk6jZ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2368,
        -528
      ],
      "id": "bdca5df7-6278-42d5-9b08-5af763f3be2b",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        -528
      ],
      "id": "0578ec9f-52c1-4308-9c56-655568e48a27",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Extract the SMTP dispatch response and the email metadata\nconst emailDispatch = $input.all()[0].json;\nconst emailMetadata = $input.all()[1].json;\n\n// 2. Combine them into a single clean object for tracking/logging\nreturn [{\n  json: {\n    message_id: emailMetadata.message_id,\n    from_lead: emailMetadata.from,\n    original_subject: emailMetadata.subject,\n    ai_reply_subject: emailMetadata.ai_reply_subject,\n    ai_reply_body: emailMetadata.ai_reply_body,\n    status: emailMetadata.status,\n    sent_at: emailMetadata.sent_at,\n    \n    // Append the SMTP system details\n    smtp_message_id: emailDispatch.messageId,\n    smtp_response: emailDispatch.response,\n    accepted_recipients: emailDispatch.accepted,\n    envelope_from: emailDispatch.envelope?.from\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        -528
      ],
      "id": "cdf3feae-ce8a-4f6f-92aa-1c3f7d675004",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read source sheet": {
      "main": [
        [
          {
            "node": "Set run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set run ID": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log duplicate": {
      "main": [
        []
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Check duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log skipped record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicate": {
      "main": [
        [
          {
            "node": "is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Duplicate?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to output": {
      "main": [
        [
          {
            "node": "Log: success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: success": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Read source sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Output": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transform Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Save to output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b17569dc-417d-4586-95ae-11c5e160ba6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbcd861b5eddffeb4c55addc33b4f0e78a9a860e3333754f5534ee16b2a29630"
  },
  "nodeGroups": [],
  "id": "LfNrXw4t0vbvxPKf",
  "tags": []
}