n8n Hands on - Beginner/USA1004/USA1004.json
{
  "name": "USA1004",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        480
      ],
      "id": "d86b79f5-976c-4696-a9a7-3c21a02e62f1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg",
          "mode": "list",
          "cachedResultName": "USA1004",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Source_Companies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        480
      ],
      "id": "6eb065bc-0cbb-4ea8-8e10-32b494836532",
      "name": "Read Source Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41960a81-bc2a-4199-90aa-a99f9c6e3623",
              "name": "run_id",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}",
              "type": "string"
            },
            {
              "id": "5c13f00d-b591-498e-b2ec-2b899c16af4e",
              "name": "processed_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f9f0f564-c950-4c27-ad13-a17e4676ed88",
              "name": "record_key",
              "value": "={{ $json.domain.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "6c8d230c-97f3-422c-a3d4-07b9a5d64e3b",
              "name": "duplicate",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        480
      ],
      "id": "35c9a26c-dc45-4e73-9471-49ddb856f2f6",
      "name": "Generate Run ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "56c2a4fa-9ea7-4651-93ad-a2444e6d8b24",
              "leftValue": "={{ $json.company_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e788ed48-2665-4e46-bf5b-40c70c62a528",
              "leftValue": "={{ $json.domain }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        480
      ],
      "id": "ef4e2d33-990a-4197-b3ee-526f93c205bb",
      "name": "Validate input"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg",
          "mode": "list",
          "cachedResultName": "USA1004",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1568106134,
          "mode": "list",
          "cachedResultName": "Run_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit#gid=1568106134"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "processed_at": "={{ $json.processed_at }}",
            "retry_count": "0",
            "status": "invalid",
            "company_name": "={{ $json.company_name }}",
            "error_message": "Missing required field"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        576
      ],
      "id": "1c521553-aee0-4c12-9804-9fb777524599",
      "name": "Log invalid input",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        384
      ],
      "id": "3a8d6401-6da8-4574-bd64-680a11e3adba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        0
      ],
      "id": "82a4333a-4d07-4fe2-9c01-ecfad5322e8f",
      "name": "Wait",
      "webhookId": "3c392620-4c19-472b-a0de-c0ecc1faa551"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nif (!staticData.processedKeys) {\n  staticData.processedKeys = {};\n}\n\nconst recordKey = String($input.item.json.record_key).trim().toLowerCase();\n\nconst isDuplicate = staticData.processedKeys[recordKey] !== undefined;\n\nif (!isDuplicate) {\n  staticData.processedKeys[recordKey] = 'reserved';\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    duplicate: isDuplicate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        48
      ],
      "id": "621cfe0f-e120-40a5-aaef-ebb8aa8714ca",
      "name": "Check duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffc8b3da-e0cc-4061-8744-1a27fd6f775e",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        48
      ],
      "id": "a4a39ba8-48a3-4d1b-b9dc-2a064c553a62",
      "name": "Is duplicate?"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.company_name }} {{ $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        0
      ],
      "id": "9466b32b-37ff-4cc6-9979-397eda860702",
      "name": "Fetch details",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "serpApi": {
          "id": "NshLcSUtTUnLX8O7",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae800bf-53b8-4098-9609-91c029351620",
              "name": "company_name",
              "value": "={{ $('Wait').first().json.company_name }}",
              "type": "string"
            },
            {
              "id": "13073894-15a0-492a-bf67-b28448591493",
              "name": "domain",
              "value": "={{ $('Wait').first().json.domain }}",
              "type": "string"
            },
            {
              "id": "fbeca5e0-919b-4333-b1d5-3ce6a3a5007b",
              "name": "country",
              "value": "={{ $('Wait').first().json.country }}",
              "type": "string"
            },
            {
              "id": "b2720651-634c-45e4-8d06-7de183130fa2",
              "name": "run_id",
              "value": "={{ $('Wait').first().json.run_id }}",
              "type": "string"
            },
            {
              "id": "fbc441f1-cbfe-4956-b7f2-861ac12ff511",
              "name": "record_key",
              "value": "={{ $('Wait').first().json.record_key }}",
              "type": "string"
            },
            {
              "id": "27da35af-f827-4b89-b40e-1d80a24269aa",
              "name": "description",
              "value": "={{ $json.organic_results[0].snippet }}",
              "type": "string"
            },
            {
              "id": "2aaca69f-b268-4d59-a92a-0ac62679872b",
              "name": "website",
              "value": "={{ $json.organic_results[0].link }}",
              "type": "string"
            },
            {
              "id": "434045db-fea5-4b54-99a0-401fde2e7be3",
              "name": "source_title",
              "value": "={{ $json.organic_results[0].title }}",
              "type": "string"
            },
            {
              "id": "455736a2-f3bb-4c3d-b526-48f111eb736d",
              "name": "processed_at",
              "value": "={{ $('Wait').first().json.processed_at }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        0
      ],
      "id": "e5c2c7ba-19d8-424b-85ac-e07322f3c5fa",
      "name": "Shape output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71f3485b-561f-4273-b343-a2dcce69e14a",
              "leftValue": "={{ $json.domain }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fd21979b-4930-40bd-ab43-300e888c6824",
              "leftValue": "={{ $json.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8a40a783-92a6-4686-b483-8e789f7f86ea",
              "leftValue": "={{ $json.company_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        0
      ],
      "id": "dd503b9a-db59-44ab-8a91-494c9347462e",
      "name": "Quality filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg",
          "mode": "list",
          "cachedResultName": "USA1004",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1568106134,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit#gid=1568106134"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $json.company_name }}",
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "error_message": "Failed quality check criteria",
            "retry_count": "0",
            "processed_at": "={{ $json.processed_at }}",
            "status": "corrupted"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        96
      ],
      "id": "6abff0b6-dbe1-4f7c-9da4-7739487c281f",
      "name": "Log quality check failed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg",
          "mode": "list",
          "cachedResultName": "USA1004",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2072878121,
          "mode": "list",
          "cachedResultName": "Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit#gid=2072878121"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $json.company_name }}",
            "domain": "={{ $json.website }}",
            "description": "={{ $json.description }}",
            "country": "={{ $json.country }}",
            "run_id": "={{ $json.run_id }}",
            "processed_at": "={{ $json.processed_at }}",
            "source title": "={{ $json.source_title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source title",
              "displayName": "source title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        -96
      ],
      "id": "83d7c489-9bba-423b-bafe-ec1d71ffde09",
      "name": "Save to output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg",
          "mode": "list",
          "cachedResultName": "USA1004",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1568106134,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit#gid=1568106134"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "record_key": "={{ $json.record_key }}",
            "processed_at": "={{ $json.processed_at }}",
            "run_id": "={{ $json.run_id }}",
            "company_name": "={{ $json.company_name }}",
            "status": "duplicate",
            "error_message": "Duplicate record",
            "retry_count": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        192
      ],
      "id": "b9433af0-d360-4e97-b619-138d5d5fa304",
      "name": "Log duplicate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg",
          "mode": "list",
          "cachedResultName": "USA1004",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1568106134,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1esWddEf9ArdeRLdb0m9cgdcCbEiMTBB9v2a9Jz0DqLg/edit#gid=1568106134"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $('Shape output').item.json.record_key }}",
            "processed_at": "={{ $json.processed_at }}",
            "company_name": "={{ $json.company_name }}",
            "status": "success",
            "retry_count": "0",
            "error_message": "Nan"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        128
      ],
      "id": "572461ee-43c4-4c0d-83b4-2db9525892c8",
      "name": "Log success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Source Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Source Sheet": {
      "main": [
        [
          {
            "node": "Generate Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Run ID": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log invalid input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicate": {
      "main": [
        [
          {
            "node": "Is duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is duplicate?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch details": {
      "main": [
        [
          {
            "node": "Shape output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape output": {
      "main": [
        [
          {
            "node": "Quality filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality filter": {
      "main": [
        [
          {
            "node": "Save to output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log quality check failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log quality check failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to output": {
      "main": [
        [
          {
            "node": "Log success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log duplicate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log success": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9b36a9e7-1ce9-45a1-b2b9-db14f2dcfdf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbcd861b5eddffeb4c55addc33b4f0e78a9a860e3333754f5534ee16b2a29630"
  },
  "nodeGroups": [],
  "id": "H6bhSq11XU1PnQkO",
  "tags": []
}