n8n Hands on - Mid Level/HR007/HR007.json
{
  "name": "HR007",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        352
      ],
      "id": "9a19eef0-3002-454c-9922-7adb2d27328f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7440019d-0851-499c-8dd5-26270a34212a",
              "name": "run_id",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}",
              "type": "string"
            },
            {
              "id": "0f37b8c0-b323-4d2d-9a1a-2df407cea78c",
              "name": "record_key",
              "value": "={{ $json.competitor_name.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "d99650f0-8b2a-459a-b40a-2e1c1f721a34",
              "name": "duplicate",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        352
      ],
      "id": "8f779925-4cf5-432a-9424-0a75d36c0f82",
      "name": "Set run ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs",
          "mode": "list",
          "cachedResultName": "HR007",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "competitor_positions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        352
      ],
      "id": "d4273de0-0332-40df-9fff-44eedfcdbf23",
      "name": "Read source sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs",
          "mode": "list",
          "cachedResultName": "HR007",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954357447,
          "mode": "list",
          "cachedResultName": "run_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit#gid=954357447"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "processed_at": "={{ $now.toISO() }}",
            "status": "skipped",
            "error_message": "Missing required field"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        448
      ],
      "id": "c28cd9db-92de-403e-a13a-ea4414036ef7",
      "name": "Log skipped record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        256
      ],
      "id": "aa4c012f-3aec-49db-948f-ed44443669ac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs",
          "mode": "list",
          "cachedResultName": "HR007",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954357447,
          "mode": "list",
          "cachedResultName": "run_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit#gid=954357447"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "duplicate",
            "error_message": "no enrichment or save happens for this item",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        64
      ],
      "id": "99e5b2a9-fb18-4195-9875-9bcdc72c2efe",
      "name": "Log duplicate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        -128
      ],
      "id": "b6de248a-c244-45f6-9dc0-f56a6d05fb02",
      "name": "Wait",
      "webhookId": "22ae5ea4-6bc9-4073-9070-c71ec3849310"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.competitor_name }} {{ $json.position_title }} {{ $json.company }}"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        -128
      ],
      "id": "ea938962-c525-4fb3-bbc3-01410712789b",
      "name": "HTTP Request",
      "credentials": {
        "serpApi": {
          "id": "NshLcSUtTUnLX8O7",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d403bd56-7020-461d-9c50-ee1948fc538e",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7ef8a12c-fd32-4dce-bb4b-60bb93bee54c",
              "leftValue": "={{ $json.position_title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        352
      ],
      "id": "0038b47c-1506-4e6d-9d95-7a5e2e31767c",
      "name": "Validate input"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.processedKeys) {\n  staticData.processedKeys = {};\n}\n\nconst recordKey = String($input.item.json.record_key).trim().toLowerCase();\nconst isDuplicate = staticData.processedKeys[recordKey] !== undefined;\n\nif (!isDuplicate) {\n  staticData.processedKeys[recordKey] = 'reserved';\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    duplicate: isDuplicate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -80
      ],
      "id": "a055472c-b042-4808-9c52-083d14585c8b",
      "name": "Check duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6fd721c-8fe4-4c1c-83d0-70f51d094b89",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        -80
      ],
      "id": "824c2a56-f97c-468f-88a3-55c2009ac5b5",
      "name": "is Duplicate?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec579495-ddce-4951-9173-7ae0f1f2f7b2",
              "leftValue": "={{ $json.competitor_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "118f735d-3990-46b6-be76-89be471336f2",
              "leftValue": "={{ $json.position_title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e16a91b8-2644-4036-86d3-12b7892a2980",
              "leftValue": "={{ $json.analysis_summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -128
      ],
      "id": "8a20feb8-3fd8-47cf-842b-5a90caeed670",
      "name": "Quality filter"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst result = (input.organic_results && input.organic_results[0]) || {};\n\nconst title = result.title || '';\nconst link = result.link || '';\nconst snippet = result.snippet || '';\nconst apiStatus = (input.organic_results && input.organic_results.length) ? 'success' : 'no_results';\n\nreturn [{\n  json: {\n    run_id: $('Set run ID').item.json.run_id,\n    record_key: $('Set run ID').item.json.record_key,\n    competitor_name: $('Set run ID').item.json.competitor_name,\n    position_title: $('Set run ID').item.json.position_title,\n    company: $('Set run ID').item.json.company,\n    location: $('Set run ID').item.json.location,\n    api_status: apiStatus,\n    result_title: title,\n    result_link: link,\n    analysis_summary: snippet,\n    processed_at: $now.toISO()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -128
      ],
      "id": "f2cc1913-13ef-4c71-8d50-f41e43d46761",
      "name": "Shape output"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs",
          "mode": "list",
          "cachedResultName": "HR007",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954357447,
          "mode": "list",
          "cachedResultName": "run_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit#gid=954357447"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "skipped",
            "error_message": "insufficient data after enrichment",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        -32
      ],
      "id": "c3241469-d6d2-48f1-bcda-35a709628fcb",
      "name": "Log unusable record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs",
          "mode": "list",
          "cachedResultName": "HR007",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2034968983,
          "mode": "list",
          "cachedResultName": "clean_output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit#gid=2034968983"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "company": "={{ $json.company }}",
            "processed_at": "={{ $now.toISO() }}",
            "competitor_name": "={{ $json.competitor_name }}",
            "position_title": "={{ $json.position_title }}",
            "location": "={{ $json.location }}",
            "api_status": "={{ $json.api_status }}",
            "analysis_summary": "={{ $json.analysis_summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competitor_name",
              "displayName": "competitor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "position_title",
              "displayName": "position_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "api_status",
              "displayName": "api_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analysis_summary",
              "displayName": "analysis_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        -224
      ],
      "id": "151eef3d-70b2-4878-8c73-834fbc728b6b",
      "name": "Save to output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs",
          "mode": "list",
          "cachedResultName": "HR007",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954357447,
          "mode": "list",
          "cachedResultName": "run_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dJyxsNl0Yk-dlU0njdJ99SODoBuD7P5yxHEX_rYM5Bs/edit#gid=954357447"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "success",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        0
      ],
      "id": "cb06b757-9e32-4ea0-81a7-ad25e7ccc546",
      "name": "Log: success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read source sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read source sheet": {
      "main": [
        [
          {
            "node": "Set run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set run ID": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log duplicate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Shape output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log skipped record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicate": {
      "main": [
        [
          {
            "node": "is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Duplicate?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality filter": {
      "main": [
        [
          {
            "node": "Save to output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log unusable record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape output": {
      "main": [
        [
          {
            "node": "Quality filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log unusable record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to output": {
      "main": [
        [
          {
            "node": "Log: success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: success": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1c1238d1-b9b3-4f55-89dc-63e6d7bb60f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbcd861b5eddffeb4c55addc33b4f0e78a9a860e3333754f5534ee16b2a29630"
  },
  "nodeGroups": [],
  "id": "mF6fGtvHSQMz6QDJ",
  "tags": []
}