n8n Hands on - Mid Level/SRP1002/SRP1002.json
{
  "name": "SRP1002",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "8401316e-31d1-4621-824b-0d1c2c986fe4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7440019d-0851-499c-8dd5-26270a34212a",
              "name": "run_id",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}",
              "type": "string"
            },
            {
              "id": "0f37b8c0-b323-4d2d-9a1a-2df407cea78c",
              "name": "record_key",
              "value": "={{ $json.instagram_handle.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "d99650f0-8b2a-459a-b40a-2e1c1f721a34",
              "name": "duplicate",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        304
      ],
      "id": "9ca28b99-b63a-4be5-8128-0dd97e79470e",
      "name": "Set run ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.inputSheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        304
      ],
      "id": "ac095184-c684-4206-88b1-6dd39506a799",
      "name": "Read source sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "processed_at": "={{ $now.toISO() }}",
            "error_message": "Missing required field",
            "status": "skipped"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        352
      ],
      "id": "05d0e244-fc4d-499a-8ba0-7732d1d3c965",
      "name": "Log skipped record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        -32
      ],
      "id": "ac2a87c1-671a-4581-bafe-6c7f0e8915a7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "duplicate",
            "error_message": "no enrichment or save happens for this item",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        256
      ],
      "id": "7d89d27c-e513-41df-bead-b5c703bd94d2",
      "name": "Log duplicate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        -128
      ],
      "id": "31777aab-99f9-45ce-9845-b904a93a173b",
      "name": "Wait",
      "webhookId": "6a5c9ff9-7042-4839-8d98-63a7c2498d7c"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "=site:instagram.com \"{{ $json.instagram_handle.replace('@', '') }}\""
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        -128
      ],
      "id": "71047b32-40d5-43fd-94ab-b64d6402a836",
      "name": "HTTP Request",
      "credentials": {
        "serpApi": {
          "id": "NshLcSUtTUnLX8O7",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d403bd56-7020-461d-9c50-ee1948fc538e",
              "leftValue": "={{ $json.follower_count }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7ef8a12c-fd32-4dce-bb4b-60bb93bee54c",
              "leftValue": "={{ $json.instagram_handle }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        304
      ],
      "id": "994101b9-41b8-4668-80e5-6b5b7c3466f9",
      "name": "Validate input"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the global static data storage\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedRecords) {\n  staticData.processedRecords = {};\n}\n\n// 2. Get ALL incoming items from the node\nconst items = $input.all();\nconst output = [];\n\n// 3. Loop through every single item in the input array\nfor (const item of items) {\n  const incoming = item.json;\n  \n  // Use instagram_handle for the duplicate check base as requested\n  if (!incoming.instagram_handle) {\n    // If the item doesn't have a handle, pass it through without marking as duplicate\n    output.push({ json: { ...incoming, duplicate: false } });\n    continue;\n  }\n\n  const key = String(incoming.instagram_handle).trim().toLowerCase();\n  let isDuplicate = false;\n  let finalRecord = { ...incoming };\n\n  if (staticData.processedRecords[key] !== undefined) {\n    isDuplicate = true;\n    const existing = staticData.processedRecords[key];\n\n    // Merge: keep existing value unless incoming has a non-empty value\n    // Adjusted fields to match your actual payload keys (e.g., follower_count)\n    const mergeFields = ['name', 'company', 'instagram_handle', 'instagram_url', 'follower_count', 'followers', 'bio', 'niche', 'email'];\n    for (const field of mergeFields) {\n      if ((finalRecord[field] === undefined || finalRecord[field] === '') && existing[field]) {\n        finalRecord[field] = existing[field];\n      }\n    }\n    // Update the static storage with the merged record\n    staticData.processedRecords[key] = finalRecord;\n  } else {\n    // First time seeing this handle, save it to storage\n    staticData.processedRecords[key] = finalRecord;\n  }\n\n  // 4. Push the result into our output array\n  output.push({\n    json: {\n      ...finalRecord,\n      duplicate: isDuplicate\n    }\n  });\n}\n\n// 5. Return all processed items back to n8n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        160
      ],
      "id": "a564fb8b-c33f-49af-9803-f2083e91a916",
      "name": "Check duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6fd721c-8fe4-4c1c-83d0-70f51d094b89",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        160
      ],
      "id": "22a54c2b-8bb9-417b-b88c-aefe9c087a22",
      "name": "is Duplicate?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec579495-ddce-4951-9173-7ae0f1f2f7b2",
              "leftValue": "={{ $json.instagram_handle }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a3c04e60-c34c-4c4c-9f55-9ad2db17b409",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "118f735d-3990-46b6-be76-89be471336f2",
              "leftValue": "={{ $json.tier }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1624d5e6-a07b-4f93-977c-c8343f40697f",
              "leftValue": "={{ $json.qualification_score }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2464,
        -128
      ],
      "id": "31a8abf4-2f88-4271-9794-65c57fa75665",
      "name": "Quality filter"
    },
    {
      "parameters": {
        "jsCode": "// Ensure we are working with an array of inputs\nconst waitItems = $items(\"Wait\");\nconst httpItems = $items(\"HTTP Request\");\n\n// Assumes 1-to-1 matching based on the current execution context iteration.\n// If running inside a loop, it pulls the matching index.\nconst index = typeof itemIndex !== 'undefined' ? itemIndex : 0;\n\nconst waitData = waitItems[index]?.json || {};\nconst httpData = httpItems[index]?.json || {};\n\n// 1. Extract raw SerpAPI data elements\nconst organicResults = httpData.organic_results || [];\nconst primaryResult = organicResults[0] || {};\nconst rawSnippet = primaryResult.snippet || \"\";\n\n// 2. Extract and Update Metrics (Followers & Bio) from the Google Search Snippet\nlet followerCount = waitData.follower_count || 0;\nlet bio = \"\";\n\nif (rawSnippet) {\n  // Parse dynamic bio text from the snippet\n  // Example pattern: \"@username: “ Bio text starts here...\"\n  const bioMatch = rawSnippet.match(/@[a-zA-Z0-9_.]+:\\s*“([^”]+)/);\n  bio = bioMatch ? bioMatch[1].trim() : rawSnippet;\n\n  // Update follower count if present in snippet (e.g., \"929K followers\")\n  const followerMatch = rawSnippet.match(/([0-9.]+[KMB]?)\\s*followers/i);\n  if (followerMatch) {\n    let rawNum = followerMatch[1].toUpperCase();\n    if (rawNum.includes('K')) {\n      followerCount = parseFloat(rawNum.replace('K', '')) * 1000;\n    } else if (rawNum.includes('M')) {\n      followerCount = parseFloat(rawNum.replace('M', '')) * 1000000;\n    } else {\n      followerCount = parseFloat(rawNum);\n    }\n  }\n}\n\n// 3. Normalize Handles\nconst rawHandle = waitData.instagram_handle || \"\";\nconst normalizedHandle = rawHandle.toLowerCase().replace(/[^a-z0-9_]/g, \"\");\n\n// 4. Determine Tier Configuration Based on Updated Followers\nlet tier = \"Nano\";\nif (followerCount >= 1000000) tier = \"Mega\";\nelse if (followerCount >= 100000) tier = \"Macro\";\nelse if (followerCount >= 10000) tier = \"Mid-Tier\";\nelse if (followerCount >= 5000) tier = \"Micro\";\n\n// 5. Calculate Qualification Score (Example Logic: Combination of followers & engagement)\nconst engagementRate = waitData.engagement_rate || 0.0;\nconst qualificationScore = Math.min(100, Math.round((followerCount / 10000) * 0.4 + (engagementRate * 100) * 0.6));\n\n// 6. Map Status Flags\nconst emailStatus = waitData.email ? \"Verified\" : \"Missing\";\nconst crmSyncStatus = waitData.duplicate === true ? \"Skipped (Duplicate)\" : \"Pending Sync\";\n\n// Return the newly structured row mapping both data sources seamlessly\nreturn [\n  {\n    json: {\n      // Retain original tracking properties from the data stack\n      ...waitData,\n      follower_count: followerCount, // updated dynamically\n      bio: bio,\n      \n      // Target extraction schemas\n      influencer_id: waitData.id || \"\",\n      normalized_handle: normalizedHandle,\n      tier: tier,\n      qualification_score: qualificationScore,\n      email_status: emailStatus,\n      crm_sync_status: crmSyncStatus,\n      last_updated: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -128
      ],
      "id": "3b79c8da-ff34-4972-afa6-cff86883befd",
      "name": "Shape output"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "skipped",
            "error_message": "insufficient data after enrichment",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        -32
      ],
      "id": "0aa96cfc-2906-4679-a41f-e54a50db294b",
      "name": "Log unusable record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"outputSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "normalized_handle": "={{ $json.instagram_handle }}",
            "qualification_score": "={{ $json.qualification_score }}",
            "tier": "={{ $json.tier }}",
            "influencer_id": "={{ $json.influencer_id }}",
            "email": "={{ $json.email }}",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "influencer_id",
              "displayName": "influencer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_handle",
              "displayName": "normalized_handle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qualification_score",
              "displayName": "qualification_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        -224
      ],
      "id": "edd976bc-cd8e-48b3-a960-54e936bd4e49",
      "name": "Save to output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheetName\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $('Quality filter').item.json.run_id }}",
            "record_key": "={{ $('Quality filter').item.json.record_key }}",
            "status": "success",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        -80
      ],
      "id": "382326c2-de44-4b80-ba28-c844cda472c1",
      "name": "Log: success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be0d0493-49c6-4c7d-a222-9c9866e38019",
              "name": "spreadsheetId",
              "value": "1rBSKIsY7VrS-huyjzwEO4JasVPF1_qsYX5oW-K1R2aU",
              "type": "string"
            },
            {
              "id": "5e5c862f-5858-40bb-8812-3561c2ee0e5d",
              "name": "inputSheetName",
              "value": "source_influencers",
              "type": "string"
            },
            {
              "id": "185e93f9-c9af-4940-bcec-c20b743424ab",
              "name": "outputSheetName",
              "value": "qualified_influencers",
              "type": "string"
            },
            {
              "id": "270ce505-024d-4bdb-9c50-19e553c3ff9c",
              "name": "logSheetName",
              "value": "run_log",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        304
      ],
      "id": "5cfb5fdd-d79b-40e8-ad99-2d83319844da",
      "name": "Config"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read source sheet": {
      "main": [
        [
          {
            "node": "Set run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set run ID": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log duplicate": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Shape output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Check duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log skipped record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicate": {
      "main": [
        [
          {
            "node": "is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Duplicate?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality filter": {
      "main": [
        [
          {
            "node": "Save to output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log unusable record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape output": {
      "main": [
        [
          {
            "node": "Quality filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log unusable record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to output": {
      "main": [
        [
          {
            "node": "Log: success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: success": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Read source sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "54afc054-5c04-40f2-8807-d8a8b3862a63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbcd861b5eddffeb4c55addc33b4f0e78a9a860e3333754f5534ee16b2a29630"
  },
  "nodeGroups": [],
  "id": "ZSkJM53zRzg0TENH",
  "tags": []
}