n8n Hands on - Mid Level/USA5004/USA5004.json
{
  "name": "USA5004",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT employee_id, full_name, email, phone, department, job_title, status \nFROM USA5004.employees \nWHERE status = 'new' \nORDER BY employee_id ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        256
      ],
      "id": "dc6c9e5a-90cf-469a-a938-2886eaf713fe",
      "name": "Read Employees from Postgres",
      "credentials": {
        "postgres": {
          "id": "NZhIIAZ94aposWs7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "run_id",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}",
              "type": "string"
            },
            {
              "name": "record_key",
              "value": "={{ $json.employee_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        256
      ],
      "id": "aebe06a8-aae9-4b13-bc56-fa9b66c2dfeb",
      "name": "Set run ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.full_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "23980ffc-a376-41f8-a9f2-22dd5e11ac76"
            },
            {
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "ad692704-79fe-4559-952a-6196ce7df1be"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        256
      ],
      "id": "a4ee0dc5-cc0f-4047-9755-930a4ae969d9",
      "name": "Validate input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO USA5004.run_log (run_id, record_key, stage, result, reason) \nVALUES ('{{ $json.run_id }}', '{{ $json.employee_id }}', 'validation', 'skipped', 'Missing required fields');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        352
      ],
      "id": "c523c16f-dfb4-4473-9676-2dc8874125a8",
      "name": "Log skipped",
      "credentials": {
        "postgres": {
          "id": "NZhIIAZ94aposWs7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        64
      ],
      "id": "e728bc8d-d41d-423a-8c70-f15dcb0eb0e4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Acumatica Employee Sync - Duplicate Check\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedEmployees) staticData.processedEmployees = {};\n\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const incoming = item.json;\n  const key = String(incoming.employee_id || incoming.email).trim().toLowerCase();\n  let isDuplicate = false;\n  let finalRecord = { ...incoming };\n\n  if (staticData.processedEmployees[key]) {\n    isDuplicate = true;\n  } else {\n    staticData.processedEmployees[key] = finalRecord;\n  }\n\n  output.push({ json: { ...finalRecord, record_key: key, duplicate: isDuplicate } });\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        160
      ],
      "id": "d209f24c-cb39-4012-b504-1422e5d0ded4",
      "name": "Check duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "id": "93e0e2ad-61b2-45b7-9107-33377be4e6b0"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        160
      ],
      "id": "42ab4723-8741-4584-a390-f80758ab4283",
      "name": "is Duplicate?"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        -16
      ],
      "id": "9ad11fb1-dafc-4546-8855-6d945111b091",
      "name": "Rate Limit Wait",
      "webhookId": "005f8f14-8eea-4b46-bbd2-d1468757254d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/mock-acumatica-employee",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "employee_id",
              "value": "={{ $json.employee_id }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        -16
      ],
      "id": "c1595b4f-8d36-4ae2-9066-ab676b898282",
      "name": "Sync to Acumatica"
    },
    {
      "parameters": {
        "jsCode": "// 1. Fetch all items from both target nodes by their exact names\nconst part1Items = $('Rate Limit Wait').all();\nconst part2Items = $('Sync to Acumatica').all();\n\n// 2. Create a fast lookup map for the HTTP responses based on the email\nconst httpLookup = {};\nfor (const item of part2Items) {\n  const json = item.json;\n  if (json.received_email) {\n    const emailKey = String(json.received_email).trim().toLowerCase();\n    httpLookup[emailKey] = json;\n  }\n}\n\nconst output = [];\n\n// 3. Loop through your primary employee records and merge data\nfor (const item of part1Items) {\n  const employee = item.json;\n  \n  if (!employee.email) {\n    // If no email exists to match against, push the record as-is\n    output.push({ json: employee });\n    continue;\n  }\n\n  const emailKey = String(employee.email).trim().toLowerCase();\n  const matchedHttpData = httpLookup[emailKey];\n\n  if (matchedHttpData) {\n    // Merge the records and map the second part's fields cleanly\n    output.push({\n      json: {\n        ...employee,\n        acumatica_id: matchedHttpData.id,\n        sync_status: matchedHttpData.sync_status\n      }\n    });\n  } else {\n    // Keep the employee record even if the HTTP node didn't have sync details\n    output.push({\n      json: {\n        ...employee,\n        acumatica_id: null,\n        sync_status: \"not_found\"\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -16
      ],
      "id": "adedb8c9-1ed4-4456-9536-3cbfbecd2206",
      "name": "Shape Output"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE USA5004.employees \nSET status = 'synced' \nWHERE employee_id = '{{ $json.employee_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        -64
      ],
      "id": "3bfa5591-c7e4-4ec9-b463-b6cf67419f58",
      "name": "Update Postgres Status",
      "credentials": {
        "postgres": {
          "id": "NZhIIAZ94aposWs7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        256
      ],
      "id": "56206913-4d30-4363-b430-128e335b9af1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO USA5004.run_log (run_id, record_key, stage, result, reason) \nVALUES (\n    '{{ $json.run_id }}', \n    '{{ $json.employee_id }}', \n    'sync', \n    'success', \n    'Successfully synced to Acumatica with ID: {{ $json.acumatica_id }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        160
      ],
      "id": "3aa7b48d-dbd6-41d0-b04b-2764a478e1ff",
      "name": "Success Log Query",
      "credentials": {
        "postgres": {
          "id": "NZhIIAZ94aposWs7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO USA5004.run_log (run_id, record_key, stage, result, reason) \nVALUES (\n    '{{ $json.run_id }}', \n    '{{ $json.record_key }}', \n    'deduplication', \n    'skipped', \n    'Duplicate record detected in static data cache'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        256
      ],
      "id": "149a5a76-ee80-4984-a967-ae4102b3ca79",
      "name": "Duplicate Log Query",
      "credentials": {
        "postgres": {
          "id": "NZhIIAZ94aposWs7",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read Employees from Postgres": {
      "main": [
        [
          {
            "node": "Set run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set run ID": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Check duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicate": {
      "main": [
        [
          {
            "node": "is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Duplicate?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Log Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Sync to Acumatica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Acumatica": {
      "main": [
        [
          {
            "node": "Shape Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Output": {
      "main": [
        [
          {
            "node": "Update Postgres Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Log Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Employees from Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Postgres Status": {
      "main": [
        []
      ]
    },
    "Success Log Query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4281b62f-219b-47e0-b18b-7db419dbb311",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbcd861b5eddffeb4c55addc33b4f0e78a9a860e3333754f5534ee16b2a29630"
  },
  "nodeGroups": [],
  "id": "9s4deaBJ8zleyoJn",
  "tags": []
}