n8n Hands on - Mid Level/USA5002/USA5002.json
{
  "name": "USA5002",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1200,
        80
      ],
      "name": "Schedule Trigger",
      "id": "fe36c1ec-5875-48cc-ae7a-b33067030dfb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "spreadsheetId",
              "value": "1BzpIduRRo67cud6gxr6H-NVEP10Tje0nJGjrHKSrWcc",
              "type": "string",
              "id": "bdcea12f-f43e-499c-b311-514def90111d"
            },
            {
              "name": "inputSheet",
              "value": "source_contacts",
              "type": "string",
              "id": "25ed0c61-e5e3-48d0-95ad-75bd8fdf239e"
            },
            {
              "name": "outputSheet",
              "value": "persona_classification",
              "type": "string",
              "id": "35bace8e-0ce5-41b8-b7b1-8cf5c2a46f1f"
            },
            {
              "name": "logSheet",
              "value": "run_log",
              "type": "string",
              "id": "54d7c69e-38f3-4fda-87a6-a1b1c7a501ed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        80
      ],
      "name": "Config",
      "id": "2944da41-f871-472f-8537-716038e0ae73"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.inputSheet }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        80
      ],
      "name": "Read Source Contacts",
      "id": "5c87345d-6332-4e4e-8864-55d4b83b52ee",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "run_id",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}",
              "type": "string"
            },
            {
              "name": "record_key",
              "value": "={{ $json.linkedin_url?.trim().toLowerCase() || $json.full_name?.trim().toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        80
      ],
      "name": "Set Run ID",
      "id": "493d1965-8b1d-4257-aa97-dca7c00e5799"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.full_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.job_title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        80
      ],
      "name": "Validate Input",
      "id": "08bf0dd8-54be-4aff-979e-46c3855c77da"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        80
      ],
      "name": "Loop Over Items",
      "id": "f4428dff-bf2a-49e1-93d2-444842b072ae"
    },
    {
      "parameters": {
        "jsCode": "// Persona Bucket Classification + Duplicate Check\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processed) staticData.processed = {};\n\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const rec = item.json;\n  const key = rec.record_key;\n  let isDuplicate = false;\n\n  if (staticData.processed[key]) isDuplicate = true;\n  else staticData.processed[key] = rec;\n\n  // Classify persona bucket based on job title\n  const title = (rec.job_title || '').toLowerCase();\n  let bucket = 'Unknown';\n  if (title.includes('engineer') || title.includes('developer') || title.includes('architect') || title.includes('analyst')) bucket = 'Technical';\n  else if (title.includes('manager') || title.includes('director') && !title.includes('sales')) bucket = 'Functional';\n  else if (title.includes('sales') || title.includes('account') || title.includes('business development')) bucket = 'Sales';\n  else if (title.includes('vp') || title.includes('chief') || title.includes('head of') || title.includes('ceo') || title.includes('cto')) bucket = 'Leadership';\n\n  output.push({ json: { ...rec, persona_bucket: bucket, is_duplicate: isDuplicate } });\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "name": "Classify Persona & Dedupe",
      "id": "6f19d842-6611-4f8b-8a8f-2f8bbc56c3d6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $node[\"Config\"].json[\"outputSheet\"] }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "full_name": "={{ $json.full_name }}",
            "job_title": "={{ $json.job_title }}",
            "company": "={{ $json.company }}",
            "linkedin_url": "={{ $json.linkedin_url }}",
            "persona_bucket": "={{ $json.persona_bucket }}",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "persona_bucket",
              "displayName": "persona_bucket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        0
      ],
      "name": "Save Classification",
      "id": "37202557-094d-4506-82dd-d0029e32448e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $node[\"Config\"].json[\"logSheet\"] }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "success",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        80
      ],
      "name": "Log Success",
      "id": "3c6b49df-e4f1-4b2e-9ac3-48c25e8b6377",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Read Source Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Source Contacts": {
      "main": [
        [
          {
            "node": "Set Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run ID": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Classify Persona & Dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Persona & Dedupe": {
      "main": [
        [
          {
            "node": "Save Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Classification": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f8e8b413-91ed-4b1c-afa9-298ddcc651b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbcd861b5eddffeb4c55addc33b4f0e78a9a860e3333754f5534ee16b2a29630"
  },
  "nodeGroups": [],
  "id": "u4RFKGn1GXlqj5bA",
  "tags": []
}