n8n Hands on - Mid Level/USA5001/USA5001.json
{
  "name": "USA5001",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1200,
        272
      ],
      "name": "Schedule Trigger",
      "id": "00fd5865-a17e-47b9-86a2-0401e8eb5ed7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "spreadsheetId",
              "value": "12g1b1_OX3px_1zI0lm8oX6DotCy8BGhXfRr6jsLIgTs",
              "type": "string",
              "id": "d170ef93-a0f4-4a3f-a205-c92bb3a7d868"
            },
            {
              "name": "inputSheet",
              "value": "source_events",
              "type": "string",
              "id": "377fcb92-6dd7-4f1a-b184-e5ab47c2e1f2"
            },
            {
              "name": "outputSheet",
              "value": "upcoming_events",
              "type": "string",
              "id": "788ac868-2dc8-4d6a-b0f9-5a13f259fc9b"
            },
            {
              "name": "logSheet",
              "value": "run_log",
              "type": "string",
              "id": "cea1a893-6ce4-46e2-8254-b5daed76a161"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        272
      ],
      "name": "Config",
      "id": "6693dd87-254f-4325-95f5-10525c0471fc"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.inputSheet }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        272
      ],
      "name": "Read Source Events",
      "id": "507cf46e-87ae-40d2-b2af-77520d72fc62",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "run_id",
              "value": "={{ $now.toFormat('yyyyMMdd-HHmmss') }}-{{ Math.random().toString(36).substring(2, 8) }}",
              "type": "string"
            },
            {
              "name": "record_key",
              "value": "={{ $json.event_name?.trim().toLowerCase() + '-' + $json.event_date }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        272
      ],
      "name": "Set Run ID",
      "id": "99a9e947-ff68-4836-9630-a6e99f7a0213"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "4d57c4d8-08ef-4fbc-a9e5-012a822c5fa9"
            },
            {
              "leftValue": "={{ $json.event_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "1b4cc99f-fb14-4a7d-9529-675c3be7c76b"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        272
      ],
      "name": "Validate Event",
      "id": "157e26da-576e-475c-b0b0-bb7ff5bc4caf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        80
      ],
      "name": "Loop Over Items",
      "id": "7ad69181-45a6-4562-9e5e-dc54f192c1f2"
    },
    {
      "parameters": {
        "jsCode": "// Duplicate check for events\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedEvents) staticData.processedEvents = {};\n\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const ev = item.json;\n  const key = ev.record_key || (ev.event_name + ev.event_date);\n  let isDuplicate = false;\n\n  if (staticData.processedEvents[key]) isDuplicate = true;\n  else staticData.processedEvents[key] = ev;\n\n  output.push({ json: { ...ev, is_duplicate: isDuplicate, record_key: key } });\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        176
      ],
      "name": "Check Duplicate",
      "id": "9dbd4558-8c30-4390-b8c6-228261d7c35f"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nreturn {\n  json: {\n    run_id: input.run_id,\n    record_key: input.record_key,\n    event_name: input.event_name,\n    event_date: input.event_date,\n    location: input.location,\n    organizer: input.organizer,\n    registration_link: `https://acumatica.com/events/${input.record_key}`,\n    status: input.is_duplicate ? 'Duplicate' : 'Upcoming',\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "name": "Enrich Event",
      "id": "745fa33d-65eb-4f7e-a86e-13121971fe32"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $node[\"Config\"].json[\"outputSheet\"] }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "event_name": "={{ $json.event_name }}",
            "event_date": "={{ $json.event_date }}",
            "location": "={{ $json.location }}",
            "organizer": "={{ $json.organizer }}",
            "registration_link": "={{ $json.registration_link }}",
            "status": "={{ $json.status }}",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizer",
              "displayName": "organizer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "registration_link",
              "displayName": "registration_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        0
      ],
      "name": "Save to Output",
      "id": "71060aa9-ab9d-48d6-abd0-14a7de54e298",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $node[\"Config\"].json[\"logSheet\"] }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "record_key": "={{ $json.record_key }}",
            "status": "success",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        80
      ],
      "name": "Log Success",
      "id": "f0fa629f-bf8a-4d51-876a-18486bc968c3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "78f32da2-d374-4a7b-b03e-576221b735d0",
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        176
      ],
      "id": "7b5df4a9-3449-48e1-86fc-6f61a8fc26af",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheet\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "processed_at": "={{ $now.toISO() }}",
            "record_key": "={{ $json.record_key }}",
            "error_message": "Missing required field",
            "status": "skipped"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        368
      ],
      "id": "6844e893-beea-4bec-9559-78752836ca5e",
      "name": "Log skipped",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $node[\"Config\"].json[\"spreadsheetId\"] }}"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $node[\"Config\"].json[\"logSheet\"] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "processed_at": "={{ $now.toISO() }}",
            "record_key": "={{ $json.record_key }}",
            "status": "duplicate",
            "error_message": "no enrichment or save happens for this item"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        272
      ],
      "id": "17c2bd1b-3d29-4951-944f-3ae17017a08a",
      "name": "Log duplicate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9sWyMrX7cj9lGZuG",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Read Source Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Source Events": {
      "main": [
        [
          {
            "node": "Set Run ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run ID": {
      "main": [
        [
          {
            "node": "Validate Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Event": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enrich Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Event": {
      "main": [
        [
          {
            "node": "Save to Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Output": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log skipped": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cf1cf158-6077-4761-8c9b-6e38972eba54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbcd861b5eddffeb4c55addc33b4f0e78a9a860e3333754f5534ee16b2a29630"
  },
  "nodeGroups": [],
  "id": "09XRVTwIEJtFtooZ",
  "tags": []
}